<div class="list-group">
    <a href="{% url 'Login_App:user_account' %}" class="list-group-item profile_menu">
        <p class="top_line"></p>
        <i class="fa fa-user"></i>
        <span>Profile</span>
    </a>
    <a href="{% url 'Blog_App:create_blog' %}" class="list-group-item profile_menu">
       <i class="fa fa-edit"></i>
        <span> Write a New Article</span>
    </a>
    <a href="{% url 'Blog_App:my_blog' %}" class="list-group-item profile_menu">
        <i class="fa fa-pencil"></i>
        <span> My Article</span>
    </a>
    <a href="#" class="list-group-item profile_menu">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item profile_menu">Vestibulum at eros</a>
</div>