{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Blog-login{% endblock %}
{% block category %}
<div class="fh5co-menu">
    <div class="fh5co-box">
        <h3 class="heading">Menu</h3>
        <ul>
            {% for cat in categories %}
            <li><a href="{% url 'Blog_App:category_post' name=cat.name %}">{{ cat.name }}</a></li>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'Blog_App:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'Blog_App:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="fh5co-box">
        <h3 class="heading">Search</h3>
        <form action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Type a keyword">
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Register here</h4>
                </div>
                <div class="panel-body">
                    {% if registered %}
                    <div class="alert alert-success" role="alert">Registered Successfully</div>
                    {% endif %}

                    <form action="" method="post">
                        {{ form|crispy}}
                        {% csrf_token %}

                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}